.contact-main-cont{
    padding: 2% 0;
}
.product-first-subcont{
    height: 15rem;
    background-image: url('https://images.unsplash.com/photo-1590611936760-eeb9bc598548?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}


.product-first-subcont>h1{
    color: white;
    font-size: 3.5rem;
    padding-left: 8rem;
    padding-top: 6rem;
}

.contact-row{
    background-color: lightseagreen;
    padding: 2% 1%;
}

.contact-col-first{
    padding: 1%;
}

.contact-form>input[type='text']{
    margin-bottom: 0.6rem;
    border-radius: 10px;
    border-color: transparent;
    width: 100%;
    line-height: 2.5rem;
    outline-color: white;
}

::-webkit-input-placeholder { 
    color:    black;
    padding-left: 1rem;
    font-weight: 500;
}

.contact-address{
    padding-bottom: 1rem ;
}

.contact-form{
    padding: 2% ;
}

.contact-form>button{
    width: 100%;
    font-size: 1.5rem;
    background-color: rgb(22, 151, 151);
    border: none;
    font-weight: 600;
    border-radius: 10px;
}

.contact-form>button:hover{
    background-color: white;
    color: darkcyan;
}

.company-address{
    line-height: 0.8rem;
    padding: 2% 10% 6% 10%;
    color: white;
}

.contact-icon{
    font-size: 1.2rem;
    color: white;
    margin-left:-1rem;
}

@media screen and(max-width:770px) {

    .product-sec-subcont{
        padding: 0 2%;
    }
    
}
