
.header-main-wrap{
    width: 100%;
    position: relative;
  }
  video{
    width: 100%;
    overflow: hidden;
  }

    .header-img-wrap>img{
    width: 100%;
    object-fit: contain;
}

  .content-wrapper{
    width: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
  } 
