.custom-nav {
    position: relative;
    height: 6rem;
    background-image: linear-gradient(
      to right,
      #0d28b3,
      #0065dc,
      #0093e7,
      #00bce2,
      #4ee1dc
    );
    box-shadow: rgba(56, 21, 255, 0.24) 0px 20px 18px;
  }
  
  .custom-form {
    position: absolute;
    right: 0;
    bottom: -1rem;
    background-image: linear-gradient(
      to right,
      #0d28b3,
      #0065dc,
      #0093e7,
      #00bce2,
      #4ee1dc
    );
    padding: 0.5rem;
    border-radius: 30px;
    margin-right: 1rem;
  }
  .custom-form > form {
    background-color: white;
    border-radius: 30px 30px;
    text-decoration: none;
    height:1.8rem;
  
  }
  .custom-form > form > input {
    border-radius: 30px 30px;
    text-decoration: none;
    border-radius: 30px 30px;
    height:1.8rem;
  
  }
  .custom-form > form > button {
    border: none;
    text-decoration: none;
    border-radius: 30px;
    color:rgb(14, 24, 137);
  
  }
  
  
  /* .custom-ul>li{
    padding-left: 1rem;
  } */
  .custom-form > form > button:hover{
    background-color: white;
    color:black;
    border-radius: 30px;
    text-decoration: none;
  }
  .custom-ul {
    position: relative;
    background-color: white;
    border-radius: 30px 30px;
    right: -50.5%;
    margin-bottom: 1rem;
  }
  
  .logo{
    padding-left: 5rem;
  }

  @media screen and  (max-width:400px){
    .custom-ul {
      padding-left: 5%;
      margin-top: 12%;
      width: 30%;
      position: relative;
      background-color: white;
      border-radius: 0;
      right: 0;
      margin-bottom: 1rem;
      background-color: #0093e7;
    }
    .custom-ul>li>a:hover{
      color:white;
    }
  }
  @media screen and (min-width:400px) and (max-width:767px){
    .custom-ul {
      padding-left: 5%;
      margin-top: 11%;
      width: 30%;
      position: relative;
      background-color: white;
      border-radius: 0;
      right: 0;
      margin-bottom: 1rem;
      background-color: #0093e7;
    }
    .custom-ul>li>a:hover{
      color:white;
    }
  }
  @media screen and (min-width:768px) and (max-width:911px){
    .custom-ul {
      padding-left: 3%;
      margin-top: 5.5%;
      width: 40%;
      position: relative;
      background-color: white;
      border-radius: 0;
      right: 0;
      margin-bottom: 1rem;
      background-color: #0093e7;
    }
    .custom-ul>li>a:hover{
        color:white;
      }
  }

  @media screen and (min-width:912px) and (max-width:1023px){
    .custom-ul {
      padding-left: 3%;
      margin-top: 5%;
      width: 40%;
      position: relative;
      background-color: white;
      border-radius: 0;
      right: 0;
      margin-bottom: 1rem;
      background-color: #0093e7;
    }
    .custom-ul>li>a:hover{
        color:white;
      }
  }
  